.main_container {
  margin: 5.5rem 5vw;
  padding-bottom: 5rem;
}
.main {
  border: 1px solid var(--borderColor);
  border-radius: 0.5rem;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, transparent 0%, var(--background) 100%),
    linear-gradient(180deg, #ff9f1c 65%, var(--background) 100%);
  height: 16rem;
}
.title {
  margin-top: -2rem;
  font-size: 1.5rem;
  color: var(--background);
  width: 40%;
}
.preview_image {
  height: 14rem;
  width: 30rem;
}
.details {
  position: relative;
  top: 1rem;
  left: 2.5%;
  width: 95%;
  height: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.details::before {
  content: "";
  position: absolute;
  top: -1rem;
  width: 100%;
  height: 0.1rem;
  border-radius: 0.5rem;
  background-color: var(--lineBackground);
}
.detail {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 0.8rem;
  color: var(--h2Color);
}
.favorite_detail {
  position: absolute;
  right: 0;
}
.detail_icon {
  font-size: 1.3rem;
  color: #ff9f1c;
}
.favorite_detail_icon {
  cursor: pointer;
}
.favorite_detail_icon:active {
  transform: scale(0.8);
}
.body {
  margin: 2rem 2.5% 0 2.5%;
}
.comments {
  margin-top: 2rem;
  border: 1px solid var(--borderColor);
  border-radius: 0.5rem;
  overflow: hidden;
}
.comments_header {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}
.comments_header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 1.5%;
  width: 97%;
  height: 0.1rem;
  border-radius: 0.5rem;
  background-color: var(--lineBackground);
}
.comments_heading {
  font-size: 1.25rem;
  color: var(--h2Color);
}
.comments_count__icon {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--h2Color);
}
.comments_icon {
  font-size: 1.25rem;
  color: var(--orangeColor);
}
.comments_form {
  margin: 1rem 2.5%;
}
@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
    height: fit-content;
    row-gap: 2vw;
  }
  .title {
    margin-top: 2.5vw;
    font-size: 5vw;
    width: 85%;
    text-align: center;
  }
  .preview_image {
    width: 95%;
    height: 100%;
    margin-bottom: 4vw;
  }
  .details {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3vw;
    height: fit-content;
  }
  .detail {
    font-size: 3vw;
  }
  .detail_icon {
    font-size: 5vw;
  }
  .comments_header {
    padding: 2vw;
  }
  .comments_heading {
    font-size: 4vw;
  }
  .comments_count__icon {
    font-size: 6vw;
  }
  .comments_icon {
    font-size: 5vw;
  }
}
