.container {
  position: relative;
  margin: 1rem 0 1rem 3rem;
}
.avatar__name_container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.name__time__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.name_heading {
  font-size: 1rem;
  color: var(--paragraphColor);
}
.time_heading {
  font-size: 0.75rem;
  color: var(--h3Color);
}
.body {
  margin: 0.75rem 1rem 0 1.5rem;
  color: var(--h3Color);
}
.reply_button {
  position: absolute;
  right: 3rem;
  color: var(--orangeColor);
  text-decoration: underline;
}
.reply {
  margin-left: 2rem;
}
.reply_form {
  margin: 0 2rem 0 4rem;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 2vw 1vw 5vw 4vw;
  }
  .avatar__name_container {
    column-gap: 2%;
  }
  .name__time__container {
    row-gap: 1.5vw;
  }
  .name_heading {
    font-size: 4vw;
  }
  .time_heading {
    font-size: 3vw;
  }
  .body {
    margin: 2vw 3vw 0 4vw;
    font-size: 4vw;
  }
  .reply_button {
    right: 1vw;
    font-size: 3.5vw;
  }
  .reply {
    margin-left: 5vw;
  }
  .reply_form {
    margin: 0 3vw 6vw 7vw;
  }
  .avatar {
    width: 10vw;
  }
}
