<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  background-color: var(---background);
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  all: unset;
  cursor: pointer;
  display: grid;
  place-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none !important;
}
input,
input:focus {
  outline: none;
  border: none;
}
:root {
  --fontFamily: "Nunito";
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--background);
}
::-webkit-scrollbar-thumb {
  background-color: var(--h3Color);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--h2Color);
}

@media screen and (max-width: 1000px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}

/* this styles is for mobile mode animation */
.navbar-enter {
  transform: translateX(100%);
  transition: all 300ms;
}
.navbar-enter-active {
  transform: translateX(0%);
  transition: all 300ms;
}
.navbar-exit {
  transform: translateX(0%);
  transition: all 300ms;
}
.navbar-exit-active {
  transition: all 300ms;
  transform: translateX(100%);
}

/* this styles is for mobile mode animation */
.alert-enter {
  transform: scale(0);
  transition: all 3000ms;
}
.alert-enter-active {
  transform: scale(1);
  transition: all 3000ms;
}
.alert-exit {
  transform: scale(1);
  transition: all 3000ms;
}
.alert-exit-active {
  transform: scale(0);
  transition: all 3000ms;
}
/* this part is for page-trasiton which is in _app.js file */
.page-transition-enter {
  position: relative;
  left: -100%;
  opacity: 1;
  transition: all 500ms;
  overflow: hidden;
  transition: all;
}
.page-transition-enter-active {
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 500ms;
  overflow: hidden;
}
.page-transition-exit {
  position: relative;
  left: 0%;
  opacity: 1;
  transition: all 500ms;
  overflow: hidden;
}
.page-transition-exit-active {
  position: relative;
  left: 200%;
  opacity: 1;
  transition: all 500ms;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
div,
button,
a {
  font-family: "Nunito";
  font-weight: 400;
}
/* global swiper styles */
.swiper-button-prev::after {
  color: var(--background) !important;
  transform: translateX(-0.75rem);
  font-size: 1rem !important;
  font-weight: 1000 !important;
}
.swiper-button-next::after {
  color: var(--background) !important;
  transform: translateX(0.75rem);
  font-size: 1rem !important;
  font-weight: 1000 !important;
}
@media screen and (max-width: 480px) {
  .swiper-button-prev::after {
    transform: translateX(-2vw);
    font-size: 4vw !important;
  }
  .swiper-button-next::after {
    transform: translateX(2vw);
    font-size: 4vw !important;
  }
}
article p {
  color: var(--paragraphColor);
  margin: 1% 0 1.5% 2.5%;
  line-height: 200%;
  font-size: 1.11rem;
}
article h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--h1Color);
  overflow: hidden;
}
article h3 {
  width: 100%;
  font-size: 1.5rem;
  color: var(--h2Color);
  overflow: hidden;
}
article img {
  margin-left: 50%;
  transform: translate(-50%);
  width: 75%;
}
article a {
  font-weight: 900;
  transition: all 500ms;
}
article a:hover {
  color: var(--h1Color);
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  article p {
    font-size: 4vw;
  }
  article h2 {
    
    font-size: 6vw;
  }
  article h3 {
    font-size: 5vw;
  }
  article img {
    width: 100%;
  }
}
=======
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.shadow-dark {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.27);
}

.three-dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.customize-scrollbar::-webkit-scrollbar {
  width: 3px !important;
}

.customize-scrollbar.fat-scrollber::-webkit-scrollbar {
  width: 6px !important;
}

.customize-scrollbar::-webkit-scrollbar-track {
  width: 3px;
  background: transparent;
  overflow: hidden;
}

.customize-scrollbar::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5rem;
}

.customize-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.growth {
  animation: growth 500ms ease-out;
}

@keyframes growth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.slide-in {
  animation: slide-in 500ms ease-out;
}

@keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.swiper-button-prev::after {
  color: #1b1b1b !important;
  transform: translateX(-0.75rem);
  font-size: 1rem !important;
  font-weight: 900 !important;
}

.swiper-button-next::after {
  color: #1b1b1b !important;
  transform: translateX(0.75rem);
  font-size: 1rem !important;
  font-weight: 900 !important;
}

.input:first {
  width: 48%;
}
.input:nth-child(2) {
  width: 48%;
}

.social-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-svg.lighter:hover h1 {
  color: #ff9f1c;
}
.social-svg svg {
  width: 100%;
}
.social-svg svg path {
  fill: #3e3e3e;
}

.social-svg.lighter svg path {
  fill: #b4b4b4;
}
.social-svg:hover svg path {
  fill: #ff9f1c;
  transition: all 300ms;
}
>>>>>>> develop
